name: Build APK (MAUI Android)

on:
  workflow_dispatch:    # permite rodar manualmente
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: windows-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup .NET 8
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0.x'

    - name: Restore dependencies
      run: dotnet restore

    - name: Build APK (Release)
      run: dotnet publish -f:net8.0-android -c:Release -p:AndroidSigningKeyPass=123456 -p:AndroidSigningStorePass=123456 /p:PublishSingleFile=true

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: KeyloggerLab-APK
        path: bin/Release/net8.0-android/publish/*.apk
        if-no-files-found: error
